* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#container {
  font-family: 'Funnel Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: rgba(122, 244, 244, 0.5);
  padding: 10px;
}

#search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(1, 1, 1, 0.7);
  justify-self: center;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

#search-box,
#search-button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#search-button {
  background-color: rgba(92, 221, 22, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: black;
}

#weather-cards {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow-x: scroll;
  font-family: 'Doto';
  font-weight: 600;
}

.card {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(39, 187, 245, 0.7);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

img {
  width: 90%;
}

#location-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Doto';
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
  background-color: rgba(3, 149, 193, 0.7);
  justify-self: center;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
}

#sunrise img,
#sunset img {
  width: 24px;
}

#description {
  font-size: 1rem;
}

.loader {
  display: none;
  width: 32px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 40% 40%;
  animation: l46 1s infinite;
}
@keyframes l46 {
  0%  {background-position: 0 0      ,100% 0,100% 100%,0 100%}
  40%,
  50% {background-position: 100% 100%,100% 0,0    0   ,0 100%}
  90%,
  100%{background-position: 100% 100%,0 100%,0    0   ,100% 0}
}

html {
  --s: 30px; /* control the size*/
  --c1: #e5fcc2;
  --c2: #45ada8;
  
  --_s:37.5% 12.5% at 62.5%;
  --_g:34% 99%,#0000 101%;
  --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
  --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
  --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
  --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
  background:
    var(--g1),
    var(--g2) 0                calc(3*var(--s)),
    var(--g3) var(--s)         calc(3*var(--s)),
    var(--g4) var(--s)         calc(6*var(--s)),
    var(--g1) calc(2*var(--s)) calc(6*var(--s)),
    var(--g2) calc(2*var(--s)) calc(9*var(--s)),
    var(--g3) calc(3*var(--s)) calc(9*var(--s)),
    var(--g4) calc(3*var(--s)) 0,
    repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
  background-size: calc(4*var(--s)) calc(12*var(--s));
}